@model IEnumerable<MarketDatabase.Models.StoreModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Creation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Creation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Customer_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Store_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Store_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Store_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
