@model VarsityDatabase.Models.LecturerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LecturerModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer_Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer_Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer_Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer_Module)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Lecturer_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
