@model VarsityDatabase.Models.StudentModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_ZipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Student_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
